@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

/* 기본세팅 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Rokkitt', sans-serif;
    font-style: 'normal';
}

.container {
    width: 100%;
    height: 100%;
}

/* 헤더 */
.container .header {
    background-color: rㅂgb(40, 40, 40);
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header h1 a {
    text-decoration: none;
    color: white;
    font-family: Rokkitt;
    margin-left: 30px;
}

.container .nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.container .nav ul li a {
    text-decoration: none;
    color: white;
}

.container .nav ul li a#last_header {
    text-decoration: none;
    color: rgb(255, 127, 127);
    margin-right: 30px;
    cursor: pointer;
}

.container .nav ul li a:hover {
    color: #1fdfdf;
}

/* 가이드, 설명*/
.container .hero {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container .hero img {
    width: 400px;
    margin-left: 30px;
    display: none;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.container .hero img:hover {
    width: 450px;
}

.container .hero h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 5px;
    transition: all .4s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .hero p {
    color: white;
    font-size: 22px;
    transition: all .4s;
    font-family: 'Rokkitt', sans-serif;
    margin-bottom: 5px;
}

.container .hero button {
    background: none;
    border: 2px solid rgb(54, 54, 54);
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: all .4s;
}

.container .hero button:hover {
    background-color: rgba(0, 220, 59, 0.5);
    padding: 15px 20px;
}


/* 이미지맵 */
.backgroundroom {
    opacity: 0.2;
}

map {
    z-index: 1;
    cursor: pointer;
}

/* 리스트 */
#list {
    display: none;
    color: white;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    border: 3px white;
    transition-duration: 0.5s;

}

#list .row {
    transition-duration: 0.5s;
    justify-content: center;
    align-items: center;
}

#list .box {
    border: 3px solid white;
    border-radius: 5%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    transition-duration: 0.5s;
    background-color: black;

    animation: slideIn 0.5s ease-in-out;
}

#list h3 {
    font-size: 25px;
    transition-duration: 0.5s;
}

#list img {
    border-radius: 10%;
    border: 3px white;
    transition-duration: 0.5s;
}

#list .box:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}